<!-- contact -->
<section class="section section-on-footer">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h4 class="section-title">{{ site.data.settings.contact-title }}</h4>
      </div>
      <div class="col-lg-8 mx-auto">
        <div class="bg-white rounded text-center p-5 shadow-down">
          <h3 class="mb-4">Formulario de Consulta</h3>
          <form action="https://formspree.io/f/xzbnkjyp" method="POST" class="row g-3">
            <div class="col-md-6">
              <input type="text" id="name" name="name" placeholder="Nombre Completo" class="form-control mb-3" required>
            </div>
            <div class="col-md-6">
              <input type="email" id="email" name="_replyto" placeholder="Email" class="form-control mb-3" required>
            </div>
            <div class="col-12">
              <textarea name="message" id="message" class="form-control mb-3" placeholder="Escriba su consulta aquí" rows="4" required></textarea>
            </div>
            <div class="col-lg-6 col-10 mx-auto">
              <button type="submit" class="btn btn-primary w-100">Enviar</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- /contact -->